body {
    font-family: Arial, sans-serif;
    background-color: #fff5f7;
    margin: 0;
}

header {
    background: #ff6f91;
    color: white;
    text-align: center;
    padding: 25px;
}

header p {
    margin-top: 5px;
}

main {
    width: 80%;
    margin: 30px auto;
}

article {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

article img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

h2 {
    color: #ff6f91;
}

footer {
    text-align: center;
    background: #ff6f91;
    color: white;
    padding: 15px;
}
h1 {
    font-size: 2.2em;
}

article p {
    margin-bottom: 10px;
    line-height: 1.6;
}
