body {
    font-family: Arial, sans-serif;
    background-color: #eef6ff; /* fondo azul muy clarito */
    margin: 0;
}

header {
    background: #7ec8e3; /* azul clarito */
    color: white;
    text-align: center;
    padding: 25px;
}

header p {
    margin-top: 5px;
}

main {
    width: 80%;
    margin: 30px auto;
}

article {
    background: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.08);
}

article img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

h2 {
    color: #4aa3df; /* azul más intenso para títulos */
}

article p {
    margin-bottom: 10px;
    line-height: 1.6;
}

footer {
    text-align: center;
    background: #7ec8e3;
    color: white;
    padding: 15px;
}
nav {
    margin-top: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    background: white;
    margin: 25px auto;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    box-shadow: 0 6px 12px rgba(0,0,0,0.08);
}
